.Icon {
  color: currentColor;

  &--functional {
    width: 24px;
    height: 24px;
  }

  // TODO: set this values to correct one when design comes
  &--illustration {
    width: 48px;
    height: 48px;
  }

  &--action {
    cursor: pointer;
  }
}
